/*-------------------------------------------------------------------------------------
# FONT_FACE
-------------------------------------------------------------------------------------*/
@font-face {
    font-family: "No Scary";
    src: url(../fonts/noscary/NoScary-regular.ttf) format("truetype");
}

@font-face {
    font-family: "Handy Times";
    src: url(../fonts/handy_times/Handy\ Times.ttf) format("truetype");
}

@font-face {
    font-family: "Manus";
    src: url(../fonts/manus/MNS_TRIAL.ttf) format("truetype");
}

/*-------------------------------------------------------------------------------------
# PALETTE DE COULEURS
-------------------------------------------------------------------------------------*/
:root {
    --blanc: #ffffff;
    --blancGris: #DEE2E6;
    --grisBlanc: #ADB5BD;
    --gris: #6C757D;
    --grisNoir: #393939;
    --noirGris: #1a1a1a;
    --noir: #000000;
}

/*-------------------------------------------------------------------------------------
# FONTS
-------------------------------------------------------------------------------------*/
:root {
    --noScary: "No Scary";
    --handyTimes: "Handy Times";
    --manus: "Manus";
}

/*-------------------------------------------------------------------------------------
# STYLES GÉNÉRAUX
-------------------------------------------------------------------------------------*/
* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    position: relative;
}

h1,
.h1 {
    font-family: var(--noScary);
    font-size: 10vw;
    font-weight: 700;
    color: var(--blancGris);
}

h2,
.h2 {
    font-family: var(--handyTimes);
    font-size: 4vw;
    font-weight: lighter;
    color: var(--blancGris);
}

h3,
.h3 {
    font-family: var(--manus);
    font-size: 35px;
    color: var(--blancGris);
}

h4,
.h4 {
    font-family: var(--manus);
    font-size: 25px;
    color: var(--blancGris);
}

h5,
.h5 {
    font-family: var(--manus);
    font-size: 20px;
    color: var(--noir);
}

h6,
.h6 {
    font-family: var(--handyTimes);
    font-size: 1.2vw;
    color: var(--noir);
}

/*-------------------------------------------------------------------------------------
# Header
-------------------------------------------------------------------------------------*/

body {
    background-color: var(--grisNoir);
    overflow-x: hidden;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.title {
    padding-top: 25%;
    text-shadow: 20px 1px var(--noir), -10px 1px 11px var(--noir);
    text-align: center;
}

.description {
    color: var(--blanc);
    text-shadow: 20px 1px var(--noir), -10px 1px 11px var(--noir);
    text-align: center;
}

.arrow {
    height: auto;
    width: 5vw;
}

.background {
    position: absolute;
    height: 95vh;
    width: auto;
    mix-blend-mode: difference;
    background-repeat: no-repeat;
}

.imgTitle {
    height: 100vh;
    width: 100vw;
}

.arrowText {
    text-align: center;
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
    
    .title {
        padding-top: 30%;
        font-size: 15vw;
    }

    header {
        justify-content: space-between;
    }

}

@media screen and (max-width: 768px) {

    header {
        justify-content: space-between;
    }

    .description {
        font-size: 2vw;
        padding-left: 10px;
        padding-right: 10px;
    }

    .title {
        padding-top: 30%;
        font-size: 20vw;
    }

    .arrow {
        height: auto;
        width: 10vw;
    }

    .info {
        font-size: 2vw;
    }

}

/*-------------------------------------------------------------------------------------
# Chapitre 1
-------------------------------------------------------------------------------------*/

section {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: solid 1px red;
}

#chapter01 {
    background-image: linear-gradient(var(--noir) 10%, var(--grisNoir));
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.ghost {
    position: absolute;
    background-image: url(../img/img_personnages/spritesheet_fantome.png);
    aspect-ratio: 1.02/1;
    background-size: 100vw 100vh;
    bottom: 0px; 
    opacity: 0;
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(50);
    animation-play-state: paused;
}

@keyframes shake {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -25100px 0;
    }
}

.yeux {
    background-image: url(../img/img_personnages/spritesheet_yeux_griboulli.png);
    width: 450px;
    height: 462px;
    opacity: 0;
    animation-name: blind;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(50);
    animation-play-state: paused;
}

@keyframes blind {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -23100px 0;
    }
}

.texte01 {
    padding: 5%;
    text-align: center;
    font-size: 2vw;
}

.yeux_fille_fermee {
    position: absolute;
    width: 50vw; 
    height: auto; 
    opacity: 0;
}

.yeux_fille_ouvert {
    position: absolute;
    width: 50vw; 
    height: auto; 
    padding-bottom: 2%;
    opacity: 0;
}

.sueur_01 {
    position: absolute;
    width: 12vw; 
    height: auto; 
    opacity: 0;
    left: 13vw; 
    top: 3vh; 
}

.sueur_02 {
    position: absolute;
    width: 15vw; 
    height: auto;
    opacity: 0;
    left: 20vw; 
    top: 28vh;
}

.sueur_03 {
    position: absolute;
    width: 20vw; 
    height: auto;
    opacity: 0;
    left: 70vw; 
    top: 24vh;
}

.sueur_04 {
    position: absolute;
    width: 10vw; 
    height: auto;
    opacity: 0;
    left: 46vw; 
    top: 10vh;
}

@media screen and (max-width: 1200px) and (min-width: 769px){

    .texte01 {
        padding: 7%;
        font-size: 3vw;
    }

}

@media screen and (max-width: 768px) {

    .yeux_fille_fermee {
        position: absolute;
        width: 54vw; 
        height: 28vw; 
        opacity: 0;
    }
    
    .yeux_fille_ouvert {
        position: absolute;
        width: 54vw; 
        height: 32vw; 
        padding-bottom: 2%;
        opacity: 0;
    }

    .texte01 {
        padding: 7%;
        text-align: center;
        font-size: 4vw;
    }

}

/*-------------------------------------------------------------------------------------
# Chapitre 2
-------------------------------------------------------------------------------------*/

#chapter02 {
    background-image: url("../img/img_arriere_plan/exterieur_wagon.jpg");
    background-size: contain;
    background-repeat: repeat;
}

.wagon_original {
    position: absolute;
    width: 100vw;
    height: 100vh; 
}

.fille_couche {
    position: absolute;
    height: auto;
    width: 20vw;
}

.fille_assise {
    position: absolute;
    height: auto;
    width: 18vw;
}

.fille_debout {
    position: absolute;
    height: auto;
    width: 20vw;
}

.texte02 {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 5%;
    font-size: 2vw;
}

.train_wagon {
    position: absolute;
    height: auto;
    width: 5vw; 
}

/*-------------------------------------------------------------------------------------
# Chapitre 3
-------------------------------------------------------------------------------------*/

#chapter03 {
    background-image: url("../img/img_arriere_plan/exterieur_wagon.jpg");
    background-size: contain;
    background-repeat: repeat;
}

.wagon_perspective {
    position: absolute;
    width: 100vw;
    height: 100vh; 
}

.texte03 {
    position: relative;
    z-index: 2;
    text-align: left;
    padding: 5%;
    padding-bottom: 0%;
    font-size: 2vw;
}

.texte04 {
    position: relative;
    z-index: 3;
    text-align: left;
    padding: 5%;
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: 2vw;
}

.texte05 {
    position: relative;
    z-index: 4;
    text-align: left;
    padding: 5%;
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: 2vw;
}

.fille_regarde_droite {
    position: absolute;
    width: 65vw; 
    height: auto;
}

.arriere_porte {
    position: absolute;
    width: 100vw;
    height: 100vh; 
}

.fantome_femme {
    position: absolute;
    width: 55vw;
    height: auto;
}

.porte_fantome {
    position: absolute;
    width: 80vw;
    height: auto;
}

.fille_regarde_gauche {
    position: absolute;
    width: 65vw; 
    height: auto;
}

.porte {
    position: absolute;
    width: 80vw;
    height: auto;
}

.main_fille_pousse {
    position: absolute;
    width: 50vw;
    height: auto;
}

.arriere_plan_gris {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.fille_tombe_01 {
    position: absolute;
    width: 50vw;
    height: auto;
}

.train_tombe_01 {
    position: absolute;
    width: 10vw;
    height: auto;
}



/*-------------------------------------------------------------------------------------
# Chapitre 4
-------------------------------------------------------------------------------------*/

#chapter04 {
    background-image: url("../img/img_arriere_plan/exterieur_wagon.jpg");
    background-size: contain;
    background-repeat: repeat-x;
}

.texte06 {
    position: relative;
    z-index: 5;
    text-align: left;
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 0%;
    font-size: 2vw;
}

.wagon_enfant {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.ours_immobile {
    position: absolute;
    height: auto;
    width: 5vw;
}

.fille_08 {
    position: absolute;
    height: auto;
    width: 30vw;
}

.fille_09 {
    position: absolute;
    height: auto;
    width: 30vw;
}

.fille_07 {
    position: absolute;
    height: auto;
    width: 30vw;
}

.train_chambre {
    position: absolute;
    height: auto;
    width: 5vw;
}

.bruitage_thud {
    position: absolute;
    height: auto;
    width: 10vw;
}

.girl {
    background-image: url(../img/img_personnages/spritesheet_fille.png);
    width: 640px;
    height: 900px;
    animation-name: course;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
    animation-play-state: paused;
}

@keyframes course {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -2560px 0;
    }
}

.arriere_plan_gris {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.fille_tombe_02 {
    position: absolute;
    width: 50vw;
    height: auto;
}

.triangulaire {
    position: absolute;
    width: 10vw;
    height: auto;
}

.ours_tombe {
    position: absolute;
    width: 10vw;
    height: auto;
}

.jeu_mobile {
    position: absolute;
    width: 10vw;
    height: auto;
}

.train_tombe_02 {
    position: absolute;
    width: 10vw;
    height: auto;
}

.container02 {
    margin-top: 4%;
}

/*-------------------------------------------------------------------------------------
# Chapitre 5
-------------------------------------------------------------------------------------*/

#chapter05 {
    background-image: url("../img/img_arriere_plan/exterieur_wagon.jpg");
    background-size: contain;
    background-repeat: repeat-x;
}

.wagon_ecole {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.fille_05 {
    position: absolute;
    height: auto;
    width: 30vw;
}

.fille_04 {
    position: absolute;
    height: auto;
    width: 30vw;
}

.fille_06 {
    position: absolute;
    height: auto;
    width: 30vw;
}

.train_ecole {
    position: absolute;
    height: auto;
    width: 5vw;
}

.bruitage_bam {
    position: absolute;
    height: auto;
    width: 10vw;
}

.arriere_plan_gris {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.fille_tombe_03 {
    position: absolute;
    width: 50vw;
    height: auto;
}

.crayons {
    position: absolute;
    width: 10vw;
    height: auto;
}

.cube_a {
    position: absolute;
    width: 10vw;
    height: auto;
}

.cube_e {
    position: absolute;
    width: 10vw;
    height: auto;
}

.musique {
    position: absolute;
    width: 50vw;
    height: auto;
}

.radio {
    position: absolute;
    width: 10vw;
    height: auto;
}

.tableau {
    position: absolute;
    width: 20vw;
    height: auto;
}

.train_tombe_03 {
    position: absolute;
    width: 10vw;
    height: auto;
}

.texte07 {
    position: relative;
    z-index: 6;
    text-align: left;
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 0%;
    font-size: 2vw;
}

/*-------------------------------------------------------------------------------------
# Chapitre 6
-------------------------------------------------------------------------------------*/

#chapter06 {
    background-image: url("../img/img_arriere_plan/exterieur_wagon.jpg");
    background-size: contain;
    background-repeat: repeat-x;
}

.wagon_aquarium {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.fille_03 {
    position: absolute;
    height: auto;
    width: 30vw;
}

.fille_02 {
    position: absolute;
    height: auto;
    width: 30vw;
}

.fille_01 {
    position: absolute;
    height: auto;
    width: 30vw;
}

.baleine {
    position: absolute;
    height: auto;
    width: 5vw;
}

.poisson {
    position: absolute;
    height: auto;
    width: 80vw;
}

.train_aquarium {
    position: absolute;
    height: auto;
    width: 5vw;
}

.thud01 {
    position: absolute;
    height: auto;
    width: 10vw;
}

.thud02 {
    position: absolute;
    height: auto;
    width: 10vw;
}

.thud03 {
    position: absolute;
    height: auto;
    width: 10vw;
}

.thud04 {
    position: absolute;
    height: auto;
    width: 10vw;
}

.texte08 {
    position: relative;
    z-index: 6;
    text-align: left;
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 0%;
    font-size: 2vw;
}

/*-------------------------------------------------------------------------------------
# Chapitre 7
-------------------------------------------------------------------------------------*/

#chapter07 {
    background-image: url("../img/img_arriere_plan/arriere_plan_porte.jpg");
    background-size: cover;
}

.texte09 {
    position: relative;
    z-index: 7;
    text-align: left;
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 0%;
    font-size: 2vw;
}

.main_vide {
    position: absolute;
    width: 50vw;
    height: auto;
}

.train_jouet {
    position: absolute;
    width: 50vw;
    height: auto;
}

.main_etendu {
    position: absolute;
    width: 50vw;
    height: auto;
}

/*-------------------------------------------------------------------------------------
# Chapitre 8
-------------------------------------------------------------------------------------*/

#chapter08 {
    background-color: var(--blancGris);
    background-size: cover;
}

.yeux_fille {
    position: absolute;
    width: 50vw; 
    height: auto; 
}

.railles {
    position: absolute;
    width: 100vw;
    height: auto;
}

.gazon {
    position: absolute;
    width: 100vw;
    height: auto;
}

.mere_de_dos {
    position: absolute;
    width: 70vw; 
    height: auto; 
}

.bras_mere {
    position: absolute;
    width: 70vw; 
    height: auto; 
}

.bras_fille {
    position: absolute;
    width: 60vw; 
    height: auto;
}

.reunion {
    position: absolute;
    width: 70vw; 
    height: auto;
}

.texte10 {
    position: relative;
    z-index: 8;
    text-align: left;
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 0%;
    font-size: 2vw;
    color: var(--noir);
}

/*-------------------------------------------------------------------------------------
# Chapitre 9
-------------------------------------------------------------------------------------*/

#chapter09 {
    background-color: var(--blanc);
    background-size: cover;
}

.calin {
    position: absolute;
    width: auto;
    height: 100vh;
}

.texte11 {
    position: relative;
    z-index: 8;
    text-align: left;
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 0%;
    font-size: 2vw;
    color: var(--noir);
}

/*-------------------------------------------------------------------------------------
# Footer
-------------------------------------------------------------------------------------*/

.info {
    display: flex;
    color: var(--blancGris);
    justify-content: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/*-------------------------------------------------------------------------------------
# Test Spritesheet
-------------------------------------------------------------------------------------*/

.scroll {
    height: 1500px;
    width: auto;
}

body.is-scrolling .ghost {
    animation-play-state: running;
}

body.is-scrolling .girl {
    animation-play-state: running;
}

body.is-scrolling .yeux {
    animation-play-state: running;
}